/*Desktop*/

.futureActivity:hover .description { display: block; }
.row-striped:nth-of-type(odd) { background-color: #efefef; }
.row-striped:nth-of-type(even) { background-color: #ffffff; }
.row-striped { padding: 2rem; }
.description { display: none; }

@media (min-width: 1200px) {
    .agenda-badge { color: #fff; background-color: #0065bd; }
    .agenda-description { font-weight: 300; line-height: 1.2; }
}

/*Mobile*/

.m-agendaContent {background-color: #f3f3f3; width: 100%; padding: 0 0 5rem 0;}
.m-row-striped { margin: 0rem .5rem .5rem .5rem; background-color: white; padding: .5rem .5rem 0rem .5rem; border-radius: 5px;}

.m-row-striped a {
    text-decoration: none;
}

.m-row-striped h5, .m-row-striped i {
    color: #ff5800;
}

.details {
    display:none;
    padding: .3rem .5rem .3rem 1rem;
}
