html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: "Nunito";
    letter-spacing: 0.0625em;
    background-color: #f3f3f3;
}

.content {
    position: relative;
    width: 100%;
    height: auto;
    min-height: calc(29rem - (6rem));
    padding: 15rem 0;
    background-color: #ff5800;
}

html>body .content {
    height: auto;
}

.register-btn {
    background-color: #ff5800;
    color: white;
    transition: box-shadow .2s;
}

.register-btn:hover {
    color: white;
    box-shadow: 0 10px 10px rgba(0,0,0,.3) !important;
}

@media (min-width: 1200px) {
    .agenda-badge {
        color: #fff;
        background-color: #0065bd;
    }

    .agenda-description {
        font-weight: 300;
        line-height: 1.2;
    }
}

.masthead {
    position: relative;
    width: 100%;
    height: auto;
    min-height: 35rem;
    padding: 15rem 0;
    background: linear-gradient(to bottom, rgba(243, 243, 243, 0) 0%, rgba(243, 243, 243, 0.1) 98%, rgba(243, 243, 243) 100%), url(../assets/img/VVTerneuzen.jpeg) no-repeat scroll center;
    background-size: cover;
}

.masthead h1 {
    font-family: "Varela Round";
    font-size: 2.5rem;
    line-height: 2.5rem;
    letter-spacing: 0.8rem;
    background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.masthead h2 {
    max-width: 20rem;
    font-size: 1rem;
}

@media (min-width: 768px) {
    .masthead h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}

@media (min-width: 992px) {
    .masthead {
        height: 100vh;
        padding: 0;
    }

    .masthead h1 {
        font-size: 6.5rem;
        line-height: 6.5rem;
        letter-spacing: 0.8rem;
    }

    .masthead h2 {
        max-width: 30rem;
        font-size: 1.25rem;
    }
}

.btn {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    font-family: "Varela Round";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.btn-primary {
    background-color: #64a19d;
}

.btn-primary:hover {
    background-color: #4f837f;
}

.btn-primary:focus {
    background-color: #4f837f;
    color: white;
}

.btn-primary:active {
    background-color: #467370 !important;
}

.what-we-do-section {
    padding: 5rem 0 2rem 0;
    width:80%;
    height: auto;
    margin:5rem auto 5rem auto;
}

.what-we-do-section p {
    margin-bottom: 5rem;
}

.agenda-section {
    background: linear-gradient(to bottom, #ff5800 0%, rgba(255, 88, 0, 1) 98%, rgba(22, 22, 22, 1) 100%);
    padding: 15rem 0;
}

.projects-section {
    padding: 10rem 0;
}

.projects-section .featured-text {
    padding: 2rem;
}

@media (min-width: 992px) {
    .projects-section .featured-text {
        padding: 0 0 0 2rem;
        border-left: 0.5rem solid #64a19d;
    }
}

.projects-section .project-text {
    padding: 3rem;
    font-size: 90%;
}

@media (min-width: 992px) {
    .projects-section .project-text {
        padding: 5rem;
    }

    .projects-section .project-text hr {
        border-color: #64a19d;
        border-width: 0.25rem;
        width: 30%;
    }
}

.signup-section {
    padding: 10rem 0;
    background: linear-gradient(to bottom, rgba(22, 22, 22, 0.1) 0%, rgba(22, 22, 22, 0.5) 75%, #161616 100%), url(../img/bg-signup.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.signup-section .form-inline input {
    box-shadow: 0 0.1875rem 0.1875rem 0 rgba(0, 0, 0, 0.1) !important;
    padding: 1.25rem 2rem;
    height: auto;
    font-family: "Varela Round";
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    border: 0;
}

.contact-section .card {
    padding: 5rem;
    border-bottom: 0.25rem solid #005074;
}

.contact-section .card h4 {
    font-size: 0.8rem;
    font-family: "Varela Round";
    text-transform: uppercase;
    letter-spacing: 0.15rem;
}

.contact-section .card hr {
    border-color: #005074;
    border-width: 0.25rem;
    width: 3rem;
}

.contact-section .social {
    margin-top: 5rem;
}

.contact-section .social a {
    text-align: center;
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    line-height: 3rem;
    color: rgba(255, 255, 255, 0.4);
}

.contact-section .social a:hover {
    color: rgba(255, 255, 255, 0.7);
}

.contact-section .social a:active {
    color: #fff;
}

a {
    color: #212529;
    text-decoration: underline;
}

a:focus,
a:hover {
    text-decoration: none;
    color: #3c6360;
}

.bg-black {
    background-color: #161616 !important;
}

.bg-blue {
    background-color: #005074 !important;
}

.bg-primary {
    background-color: #64a19d !important;
}

.text-primary {
    color: #64a19d !important;
}

.text-black {
    color: black !important;
}

footer {
    padding: 2rem 0;
    bottom: 0;
}

.row-striped:nth-of-type(odd) {
    background-color: #efefef;
    border-left: 4px #0065bd solid;
}

.row-striped:nth-of-type(even) {
    background-color: #ffffff;
    border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}

.futureActivity:hover .description {
    display: block;
}

.description {
    display: none;
}

.imgWhatWeDoResize {
    height:auto;
    width: 33%
}

.sectionSelectionColumn {
    margin-bottom: 1rem;
}

.sectionSelection {
    height: 100%;
    padding: 0;
    background-color: white;
    border-radius: 5px;
    transition: background-color .5s, color .2s, box-shadow .2s;
    display: flex;
    flex-direction: column;
}

.sectionSelection .sectionSelectionImage {
    margin-top: 1rem;
    margin-bottom: auto;
}

.sectionSelection .sectionSelectionText {
    margin-top: auto;
}

.sectionSelection:hover {
    box-shadow: 0 30px 30px rgba(0,0,0,.3);
    background-color: rgba(0,80,116,0.5);
    color: white;
}

.contact-element {
    color: black;
}

.contact-element:hover {
    background-color: #005074;
    color:white;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

/*.navbar .nav-item {*/
/*    transition: background-color .5s, box-shadow .5s;*/
/*    border-radius: 5px;*/
/*}*/

/*.navbar .nav-item:hover {*/
/*    background-color: rgba(255, 255, 255, 0.5);*/
/*    box-shadow: 2px 2px rgba(0, 0, 0, 0.2);*/
/*}*/

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius:5px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.linkUnderlineless {
    text-decoration: none;
}

table {
    margin: 0 0 2rem;
}
