/* Style the navigation menu */
.m-topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.m-topnav #myLinks {
    display: none;
}

/* Style navigation menu links */
.m-topnav a {
    color: white;
    padding: .4rem .6rem;
    text-decoration: none;
    font-size: 1.2rem;
    display: block;
}

/* Style the hamburger menu */
.m-topnav a.icon {
    background: rgb(255, 88, 0);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
}

a.m-active {
    padding: 0;
}

/* Add a grey background color on mouse-over */
.m-topnav a:hover {
    background-color: rgb(255, 88, 0);
}

/* Style the active link (or home/logo) */
.m-active, a.m-active:hover {
    background-color: rgba(0, 101, 189, 0.9);
    color: white;
}
